@import "tailwindcss";

:root {
  /* --color-primary: #2a9d8f;
  --color-secondary: #264653;
  --color-tertiary: #e9c46a;
  --color-quaternary: #f4a261; */

  --color-primary: #ddf4e7;
  --color-secondary: #67c090;
  --color-tertiary: #26667f;
  --color-quaternary: #124170;

  --color-White: #ffffff;
  --color-Black: #121212;

  --color-neutral-1: #5a5a5a;
  --color-neutral-2: #d5d5d5;
  --color-neutral-3: #b0b0b0;
}

/* DARK MODE */

:root.dark {
  --color-primary: #0e1116;
  --color-secondary: #264653;
  --color-tertiary: #e9c46a;
  --color-quaternary: #f4a261;

  --color-White: #f4f4f4;
  --color-Black: #0a0a0a;

  --color-neutral-1: #c1c1c1;
  --color-neutral-2: #a0a0a0;
  --color-neutral-3: #808080;
}

/* FONT PRIMARY */
@font-face {
  font-family: "Li Ador Noirrit";
  src: local("Li Ador Noirrit"), local("LiAdorNoirrit"),
    url("../fonts/subset-LiAdorNoirrit.woff2") format("woff2"),
    url("../fonts/subset-LiAdorNoirrit.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* FONT SECONDARY */
@font-face {
  font-family: "Li Alinur Sangbadpatra Unicode";
  src: local("Li Alinur Sangbadpatra Unicode"),
    local("LiAlinurSangbadpatraUnicode"),
    url("../fonts/subset-LiAlinurSangbadpatraUnicode.woff2") format("woff2"),
    url("../fonts/subset-LiAlinurSangbadpatraUnicode.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* FONT TERTIARY */
@font-face {
  font-family: "Li Alinur Kurigram Unicode";
  src: local("Li Alinur Kurigram Unicode"), local("LiAlinurKurigramUnicode"),
    url("../fonts/subset-LiAlinurKurigramUnicode.woff2") format("woff2"),
    url("../fonts/subset-LiAlinurKurigramUnicode.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-primary: "Li Ador Noirrit", sans-serif;
  --font-secondary: "Li Alinur Sangbadpatra Unicode", sans-serif;
  --font-tertiary: "Li Alinur Kurigram Unicode", sans-serif;

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-quaternary: var(--color-quaternary);

  --color-White: var(--color-white);
  --color-Black: var(--color-black);

  --color-neutral-1: var(--color-neutral-1);
  --color-neutral-2: var(--color-neutral-2);
  --color-neutral-3: var(--color-neutral-3);
  /* --color-Gray-100: var(--color-gray-100); */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-tertiary);
  /* color: var(--color-White); */
}

/* ===== BASE STYLES START ===== */
.container-fluid {
  max-width: 1440px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.container-base {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

/* ===== BASE STYLES END ===== */

/* MARQUEE START */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

/* MARQUEE END */

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #f1f1f1;
  color: #333;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.social-icon:hover {
  background: #4f46e5; /* Indigo */
  color: #fff;
  transform: scale(1.1);
}
